{
      "VOTING_TO_CHANGE_KEYS_ADDRESS": "",
  "VOTING_TO_CHANGE_MIN_THRESHOLD_ADDRESS": "",
  "VOTING_TO_CHANGE_PROXY_ADDRESS": "",
  "VOTING_TO_MANAGE_EMISSION_FUNDS_ADDRESS": "",
  "BALLOTS_STORAGE_ADDRESS": "",
  "KEYS_MANAGER_ADDRESS": "",
  "METADATA_ADDRESS": "",
  "PROXY_ADDRESS": "",
  "POA_ADDRESS": "",
  "EMISSION_FUNDS_ADDRESS": "",
  "REWARD_BY_BLOCK_ADDRESS": "",
  "MOC": "",
  "ACL": "",
  "NEW_REWARD_BY_BLOCK": "",
  "NEW_NEW_REWARD_BY_BLOCK": ""
}